<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App 1C</title>

    <script src="/codebase/webix.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/codebase/webix.css" type="text/css" media="screen" charset="utf-8">
    <link href="/codebase/skins/material.css" rel="stylesheet" type="text/css">
    <link href="/css/all.css" rel="stylesheet" type="text/css">

    <link rel="icon" href="/favicon.svg" type=" image/svg+xml">
</head>

<body>
    {{{body}}}
</body>

</html>